PassengerAppRoot /home/u734351237/domains/puppaka.com/public_html
PassengerAppType node
PassengerNodejs /opt/alt/alt-nodejs20/root/usr/bin/node
PassengerStartupFile app.js
PassengerBaseURI /
PassengerFriendlyErrorPages on
